# google sheets api
google-api-python-client~=2.144.0
google-auth-httplib2~=0.2.0
google-auth-oauthlib~=1.2.1

# files
platformdirs~=4.3.3

# compatibility
importlib_resources>=5
importlib_metadata>=6
