# package management
pip
setuptools
wheel
build
twine
pip-audit
setuptools-git-versioning>=2.0,<3

# tests
pytest
pytest-mock
pytest-cov
tox
coverage[toml]

# linters
black
ruff
codespell
interrogate

# type checking
mypy
types-dateparser
types-PyYAML
types-requests
types-backports
types-urllib3

# docs
pdoc
