# google sheets api
google-api-python-client~=2.155.0
google-auth-httplib2~=0.2.0
google-auth-oauthlib~=1.2.1

# files
platformdirs~=4.3.6

# compatibility
# (version spec is 'greater than' instead of 'specific version' due to different versions used by dependencies)
importlib_resources>=5
importlib_metadata>=6
typing-extensions>=4